@model mvc_apps_01.Models.TmDbComingSoon

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TmDbComingSoon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MovieId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MovieId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Popularity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Popularity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BackdropPath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BackdropPath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PosterPath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PosterPath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a href='javascript:history.go(-1)'>Back to List</a>
</div>
