@model PaginatedList<mvc_apps_01.Models.TmDbComingSoon>

@{
    ViewData["Title"] = "Index";
}

<h2>Movie Coming Soon</h2>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Title: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                MovieId
            </th>
            <th>
                Title
            </th>
            <th>
                ReleaseDate
            </th>
            <th>
                Popularity
            </th>
            <th>
                BackdropPath
            </th>
            <th>
                PosterPath
            </th>
            <th>
                UpdateDate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Popularity)
                </td>
                <td>
                    <img src="@Url.Content(item.BackdropPath)" alt="" />
                </td>
                <td>
                    <img src="@Url.Content(item.PosterPath)" alt="" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>