@model PaginatedList<mvc_apps_01.Models.TmDbTrending>


@{
    ViewData["Title"] = "Index";
}

<h2>Movie Ranking</h2>
<form asp-action="IndexNonAuthorize" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Title: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="IndexNonAuthorize">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                ranking
            </th>
            <th>
                Title
            </th>
            <th>
                ReleaseDate
            </th>
            <th>
                Popularity
            </th>
            <th>
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ranking)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Popularity)
                </td>
                <td>
                    <img src="@Url.Content(item.BackdropPath)" alt="" />
                </td>
                <td>
                    <img src="@Url.Content(item.PosterPath)" alt="" />
                </td>
                <td>
                    <a asp-action="DetailsNonAuthorize" asp-route-id="@item.ID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="IndexNonAuthorize"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="IndexNonAuthorize"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>